.wrapper {
    box-sizing: border-box;
  width: 500px;
  height: 500px;
  border: 2px solid red;
  position: relative;
}

.box {
  height: 50px;
  width: 50px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  
}
.buttons {
    background: rgba(15, 255, 55, 0.3);
}
button {
    padding: 10px 30px;
    background: rgba(255, 15, 15, 0.3);
}